/* 
font-family: 'Fira Code', monospace; 400, 700
font-family: 'Roboto', sans-serif;   500, 700
font-family: 'Rubik', sans-serif;    400, 700
*/

.App {
  text-align: center;
  background-color: #191927;
  color: white;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  position: relative;
}

pre{
  font-family: 'Fira Code', sans-serif !important;
  color: white !important;
  font-size: 0.9rem !important;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn{
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700 !important;
}

.error-message{
  padding: 20px 0 5px 0;
  font-family: 'Fira Code', sans-serif;
  color: white;
}

hr{
  border: 1px solid #FFD900 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}



/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: #000;
}
*::-webkit-scrollbar-thumb {
  background-color: #00C5EB;
  border-radius: 5px;
}